<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqh3gpet9wK1tqeBW6OQc5g8UBY3DM7Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>822847217892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.template</string>
	<key>PROJECT_ID</key>
	<string>template84-ec230</string>
	<key>STORAGE_BUCKET</key>
	<string>template84-ec230.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822847217892:ios:c1420a5d2d03e7db778cf1</string>
</dict>
</plist>